<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th colspan="2" class="text-center"><%= Allotment.model_name.human.pluralize %></th>
    </tr>
  </thead>
  <tbody>
    <% @worker.allotments.each do |allotment| %>
      <tr>
        <td class="text-center">
          <%= allotment.place %>
        </td>
        <td>
          <%= link_to_destroy(
            destroy_allotment_worker_path(@worker, place_id: allotment.id)
          ) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
