<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th colspan="2" class="text-center"><%= Allotment.model_name.human.pluralize %></th>
    </tr>
  </thead>
  <tbody>
    <% @worker.all_allotments.each do |allotment| %>
      <tr>
        <td class="text-center">
          <% unless (owner = allotment.owner) == @worker %>
            <%= link_to owner, owner %>:
          <% end %>
          <%= allotment.place %>
        </td>
        <td>
          <%= link_to_destroy(
            destroy_allotment_worker_path(@worker, place_id: allotment.id)
          ) if owner == @worker %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
